@tailwind base;
@tailwind components;
@tailwind utilities;

/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

section {
  padding: 20px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.container{
  gap: 16px;
  width: 300px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 5px rgba(15, 13, 13, 0.603);
  display: flex;
  flex-direction: column;
}

#consultas-container{
  gap: 16px;
  width: 300px;
  margin: 0 auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#chart-container {
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  max-width: 500px;
}

#location-container{
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  max-width: 400px;
}

.custom-paragraph {
  color: #000000;
  font-weight: bold;
  padding: 10px;
  padding-left: 2px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

#select-cons {
  color: #000000;
  font-weight: bold;
  padding-right: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.input {
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-consultas{
  display: flex;
  justify-content: space-evenly;
  align-items: end;
}

.aside {
  background: repeating-linear-gradient(
    35deg,
    hsl(240, 1%, 16%) 0px 2px,
    hsl(240, 4%, 5%) 0px 4px
  );
  mix-blend-mode: multiply;
  animation: none 40000ms infinite linear;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vmin;
  font-weight: 900;

  color: rgb(255, 255, 255); 
}

input,
textarea,
select{
  display: flex;
  margin-top: 20px;
}

input::placeholder {
  color: #999;
  font-style: italic;
}
*/